{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "Chrome >= 52",
                        "FireFox >= 44",
                        "Safari >= 7", 
                        "Explorer >= 9",
                        "last 2 versions"
                    ]
                },
                "debug": true,
                "useBuiltIns": true
            }
        ],
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
    ]
}
