{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ],
                    "node": "current"
                },
                "debug": true,
                "useBuiltIns": true
            }
        ],
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
    ]
}
