
.app-container {
  /*display: grid;
  grid-template-columns: 320px auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main" "footer footer";
  height: 100%;*/
  height: 100%;
  width: 100%;
}

.page-container {
  /*grid-area: main;
  background-color: rgb(91, 165, 42);
  height: 100%;*/
  height: 100%;
  width: 100%;
}
