:global html {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0px !important;
}
:global body {
  position: inherit;
  height: 100%;
  width: 100%;
  margin: 0px !important;
}
:global #app {
    height: inherit;
    width: inherit;
}

:global #logo1 {
    stroke: white !important;
}

:global .cls-2 {
    stroke: white !important;
}

:global #logo-menu path {
    stroke: rgb(255, 255, 255) !important;
}